
<head>
  <title>{{model.game_title}}</title>
  <meta name="author" content="Sorted Bits"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" media="all" href="https://cdn.lfg.pub/assets/application-d4bff01f7ab0aed6ccbb8e1daf1969e3764444cb1e997ffd5467834a98bfc1ab.css" data-turbolinks-track="true" />
  <link rel="stylesheet" media="screen" href="https://cdn.lfg.pub/assets/activities-7d39222a29602fdef997d9b1c9a55e5e4811b3966fde8690d5b5318abe3092a2.css" />

  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <meta name="fragment" content="!">
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="mL7dxRzVkH2D5aLL2IJiCjhA8k1f+tjY5KMBsoNYo5QaRR1bx5jfdz+90ZbL+L0f36XwNiZ39LzGkqWLkHn7SA==" />
  <meta name="action-cable-url" content="wss://lfg.pub/cable" />
</head>
<body>


<div class="complete-site">
  <div class="container navbar-container">

  </div>

  <div class="site-wrapper">
    <div class="container" id="content-container">








<a id="request-scroll-top"></a>


    <style>
      .activity-banner:before {
        background-image: url('https://cdn.lfg.pub/images/activities/ark-survival-evolved/banner.jpg');

      }
    </style>

<div class="row">
  <div class="col-xs-24 activity-banner ">
    <div class="gray-overlay activity-image">
      <div class="details">
        <div class="row">
          <div class="col-xs-24 col-lg-13">
            <h1 class="activity-title">
                  <a href="/ark-survival-evolved">
                      {{model.game_title}}
                    </a>
            </h1>



          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-lg-6 col-xs-24 toggle-filter filter-header">
    Filter results
    <div class="hidden-md-up pull-xs-right">
      <button class="btn btn-outline-secondary" id="expand_filters">
        <i class="ion-chevron-down filters-indicator"></i>
      </button>
    </div>
  </div>
  <div class="col-md-16 col-lg-18 col-xs-24 request-container-header">
    <div class="pull-xs-left">
        <div *ngIf="(model.loginStatus)">

          <button type="button" routerLink = "/game-lfg" class="btn btn-outline-primary-color">
            <i class="ion-plus"></i>
            Add request
          </button>

        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-lg-6 col-xs-24 filter-sidebar">

<div class="filter-content">
      <div class="section expanded">
        <div class="activity-filters row ">
          <div class="filter-section">
            <div class="col-xs-24 list-group-header">
              General
            </div>
            <div class="filter-section-filters row">
                  <div class="form-row col-xs-24">
                    <div class="row">
                      <div class="field-title col-xs-24">
                        Game
                      </div>
                      <div class="col-xs-24">
                        <div class="styled-select">

                          <select name="activity_group_id" id="activity_group_id" class="form-control filter_option_select" data-field-id="group" data-sortorder="-4" data-field-name="Platform"
                          [(ngModel)]="selectedGame" (change)="FilterByGame($event)">
                            <option value="Ark">Ark</option>
                            <option value="RainbowSix">RainbowSix</option>
                            <option value="Overwatch">Overwatch</option>
                          </select>

                          <div class="select-arrow">
                            <i class="ion-arrow-down-b"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="field-title col-xs-24">

                        Platform
                      </div>
                      <div class="col-xs-24">
                        <div class="styled-select">

                          <select name="activity_group_id" id="activity_group_id" class="form-control filter_option_select" data-field-id="group" data-sortorder="-4" data-field-name="Platform"
                          [(ngModel)]="selectedPlatform" (change)="FilterByPlatform($event)">
                            <option value="Xbox">Any</option>
                            <option value="Xbox">Xbox</option>
                            <option value="PS3">PS3</option>
                            <option value="PS4">PS4</option>
                            <option value="XB1">XB1</option>
                          </select>


                          <div class="select-arrow">
                            <i class="ion-arrow-down-b"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="field-title col-xs-24">
                        Play Time
                      </div>
                      <div class="col-xs-24">
                        <div class="styled-select">

                          <select name="activity_group_id" id="activity_group_id" class="form-control filter_option_select" data-field-id="group" data-sortorder="-4" data-field-name="Platform"
                          [(ngModel)]="selectedPlay" (change)="FilterByPlaytime($event)">
                            <option value="">Any </option>
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                          </select>

                          <div class="select-arrow">
                            <i class="ion-arrow-down-b"></i>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-16 col-lg-18 col-xs-24">
    <div class="row">
      <div class="col-xs-24 filters-row">
        <div id="no-filters">
        </div>
        <div id="filter-container">
        </div>
      </div>
    </div>


    <div class="row">






          <a *ngFor = "let lfg_item of lfgProfile">
          <div class="row request-item col-xs-24">
            {{lfg_item.platformName}}
            <tr> <td>Team Name : {{lfg_item.LFGTeamName}}</td><tr>
            <tr> <td>Game Name : {{lfg_item.gameName}}</td><tr>
            <tr> <td>Platform  : {{lfg_item.platformName}}</td><tr>

            <div>
              <div class="col-lg-5 col-xs-24 timestamp-column">
              </div>
              <div class="col-lg-12 col-xs-24 request-details-column">
                  <div class="title">
                    <h6>Owner : {{lfg_item.LFGCreater}}</h6>
                  </div>
                  <table class="fields">
                    <tbody>
                      <tr>
                        <td class="field-name">Style </td>
                        <td class="field-value">{{lfg_item.playStyle }}</td>
                      </tr>
                      <tr>
                        <td class="field-name">Time</td>
                        <td class="field-value">{{lfg_item.playtime }}</td>
                      </tr>
                      <tr>
                        <td class="field-name">Description</td>
                        <td class="field-value">{{lfg_item.Description}}</td>
                      </tr>
                      <button class="btn btn-outline-danger" (click)=RemoveLFG()>
                        <i class="ion-trash-b">
                        </i>
                        Remove
                      </button>

                    </tbody>
                  </table>
              </div>
          </div>
        </div>
    </a>



    </div>
  </div>
</div>



    </div>
  </div>
</div>

</body>
