<div class="container">

  <a [(ngModel)]= "model.bShowProfile" #bShowProfile ="ngModel" name="bShowProfile" ngDefaultControl></a>
  <div *ngIf="(model.bShowProfile)">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-5 col-lg-5" align="left">
                  <img alt="User Pic" [src]="img_src" class="img-circle img-responsive  profile-pic" >
                  <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." accept="image/*" />
                  <button type="button" (click)="upload()">Upload</button>
                  <div *ngIf = "model.imgsizeErr"> Exceed the file size </div>
                </div>

                <div class=" col-md-8 col-lg-16 ">


                <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Game ID : </td>
                        <td>
                          <input type="text" [(ngModel)]="model.PlayerID" placeholder="currentPlayerID">
                        </td>
                      </tr>
                      <tr>
                        <td>Age : </td>
                        <td>
                            <input type="text" [(ngModel)]="model.age">
                        </td>
                      </tr>
                      <tr>
                        <td>Regular Play time : </td>
                        <td>
                            <input type="time" [(ngModel)]="model.time">
                        </td>
                      </tr>
                      <tr>
                        <td>Voice channel : </td>
                        <td>
                          MIC <input type="checkbox" [(ngModel)]="model.bUsingMIC">
                          {{model.bUsingMIC}}
                        </td>
                      </tr>

                       <tr>
                        <td>Slecting games : </td>
                        <td>
                          <a *ngFor = "let platformlist of all_platform_list; let in=index">
                            {{platformlist}} <input  name="platformlist" type="checkbox" [(ngModel)]="platformlist.checked" (change)="onClickedPlatform(platformlist, $event)"/>
                            <!--{{gameitem.name}}-->
                          </a>
                          <button class="btn btn-sm btn-primary" (click)="getCurrentGameList()">Game list
                          </button>
                            <li *ngFor = "let gameitem of gameslist; let in=index">
                              {{gameitem}}  <input  name="gameslist" type="checkbox" [(ngModel)]="gameitem.checked" (change)="onClicked(gameitem, $event)"/>
                            </li>
                            <!-- <input type="checkbox" *ngFor = "let gameitem of gameslist">{{gameitem.gameName}} -->
                        </td>
                      </tr>
                      <tr>
                        <td>Selected a play style : </td>
                        <td>style..</td>
                      </tr>
                      <tr>
                        <td>selecting characters : </td>
                        <!--<td><a href="mailto:info@support.com">info@support.com</a></td> -->
                        <td>selected character</td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                  <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a> -->
                      <button  data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-warning" (click)="saveNewProfile()"><i class="glyphicon glyphicon-edit"></i> Save</button>
                      <button data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-danger" (click)="cancelEditProfile()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!--   <div *ngIf="model.bShowProfile"> -->
  </div>
