<div class="col-md-6 col-md-offset-3">
  <h2> Register </h2>

  <ul>
    <h4>Account List </h4>
    <li *ngFor = "let profile of profiles">{{profile.username}} ||{{profile._id}} || {{profile.password}} ||{{profile.firstname}} || {{profile.lastname}} ||{{profile.age}} || {{profile.email}} || {{profile.gended}}</li>
  </ul>

   <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
     <a [(ngModel)]= "model.bEmailVerified" #bEmailVerified ="ngModel" name="bEmailVerified" ngDefaultControl></a>

     <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
       <label for="email"> Email </label>
       <input type="text" class="form-control" [(ngModel)]="model.email" #email ="ngModel" name="email" required />
       <div *ngIf="f.submitted && !email.valid" class="help-block"> Email is required</div>

       <div class="form-email-verify">
         <button (click) = "verifyEmail()"> Check Email </button>
       </div>
       <div class="form-email-verify">
         <!--<div *ngIf="f.submitted && (model.bEmailVerified)">
          <h3> Email verified </h3>-->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <!-- <div class="form-group"> -->
            <label for="username"> Username </label>
            <input type="text" class="form-control"  name="username" [(ngModel)]="model.username" #username ="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block"> Username is required</div>
          </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
         <!-- <div class="form-group"> -->
           <label for="lastname"> Last Name </label>
           <input type="text" class="form-control"  name="lastname" [(ngModel)]="model.lastname" #lastname ="ngModel" required />
           <div *ngIf="f.submitted && !lastname.valid" class="help-block"> Last Name is required</div>
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
           <label for="firstname"> First Name </label>
           <input type="text" class="form-control" [(ngModel)]="model.firstname" #firstname ="ngModel" name="firstname" required />
           <div *ngIf="f.submitted && !firstname.valid" class="help-block"> First Name is required</div>
         </div>



         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
           <label for="password"> Password </label>
           <input type="text" class="form-control" [(ngModel)]="model.password" #password ="ngModel" name="password" required />
           <div *ngIf="f.submitted && !password.valid" class="help-block"> Password is required</div>
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gended.valid }">
           <label for="gended"> gended </label>
           <input type="text" class="form-control" [(ngModel)]="model.gended" #gended ="ngModel"  name="gended" required />
           <div *ngIf="f.submitted && !gended.valid" class="help-block"> gended is required</div>
         </div>

         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
           <label for="age"> Age</label>
           <input type="text" class="form-control" [(ngModel)]="model.age" #age ="ngModel" name="age" required />
           <div *ngIf="f.submitted && !age.valid" class="help-block"> Age is required</div>
         </div>

         <div class="form-group">
           <button (click)="addProfile()"> Create </button>
         </div>

        <!-- </div>-->
      </div >


     </div>
  </form>

</div>
