
<div class="jumbotron">
   <div class="container">
     <h1>Purpose</h1>
     <p>This is home page to provide games.</p>
   </div>
    <img src="http://blog.verticalresponse.com/wp-content/uploads/2013/08/Your-Ad-Here2.jpg" alt="advertisement" height="420" width="420">
 </div>

