.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: 100%;
    background-color: lightgrey;
}

.profile_windows {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
