<div class="col-md-6 col-md-offset-3">
  <h2> Login </h2>

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <!-- <div class="form-group"> -->
      <label for="username"> Username </label>
      <input type="text" class="form-control"  name="username" [(ngModel)]="model.username" #username='ngModel' required />
      <div *ngIf="f.submitted && !username.valid" class="help-block"> Username is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password"> Password </label>
      <input type="password" class="form-control" [(ngModel)]="model.password" name="password" #password='ngModel' required />
      <div *ngIf="f.submitted && !password.valid" class="help-block"> Password is required</div>
    </div>

    <div class="row">
       <div class="col-md-4 col-md-offset-4">
       <button (click)="googleLogin()" class="btn btn-block btn-social btn-google">
           <span class="fa fa-google"></span> Sign in with Google
       </button>
       </div>
    </div>

    <!--<div class="form-group">
      <button [disabled] = "loading" class="btn btn-primary"> Login </button>
      <div *ngIf="loading">
        <p> Success </p>
      </div>
    </div>
  -->
  <div class="navbar-header">
    <!--<a class="naver-brand" href="#"> LogIn</a> -->
    <button class="btn btn-primary btn-margin" (click)="login()" >Log In</button>
    <!--<button class="btn btn-primary btn-margin" (click)="logout()" >Log Out</button> -->
  </div>
  </form>

</div>
