<div class="row all-items">
  <div class="col-xs-10 col-md-12">
    <h2>All games</h2>
  </div>
  <!--<div class="row">
    <div class="col-xs-14 col-md-12">
      <div class="row button-row">
        <div class="col-xs-24 text-right">
          <span class="sort-button sort" data-sort="name:asc">A-Z</span>
          <span class="sort-button sort" data-sort="popularity:desc">Popularity</span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">

      <div  *ngFor = "let gamelist of gamelists" >
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 activity-item activity-icon-item" data-popularity="32"
          data-name="Ark">

          <figure class="">
                <img src="{{gamelist.gameRefImgPath}}" class="figure-img img-fluid img-rounded" alt="{{gamelist.gameTitle}}" (click)="OpenGameDetail(gamelist.game_id)">
          </figure>
          <a title="{{gamelist.game_title}}">
              <h4 class="title">{{gamelist.game_title}} </h4>
          </a>
        </div>
      </div>

    <!--
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 activity-item activity-icon-item"

         data-popularity="32"
         data-name="Ark">
      <figure class="">
            <img src="https://cdn.lfg.pub/images/activities/ark-survival-evolved/icon.jpg" class="figure-img img-fluid img-rounded" alt="Ark: Survival Evolved - Survive, together!" (click)="OpenGameDetail()">
      </figure>
      <a title="Ark: Survival Evolved - Survive, together!">
          <h3 class="title">Ark: Survival Evolved </h3>
    </a></div>

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 activity-item activity-icon-item"
       data-popularity="20"
       data-name="Rainbow Six : Siege">
    <figure class="">
      <a title="Rainbow Six : Siege - LFG, LFM &amp; LFT" href="/rainbow-six-siege">
          <img src="https://cdn.lfg.pub/images/activities/rainbow-six-siege/icon.jpg" class="figure-img img-fluid img-rounded" alt="Rainbow Six : Siege - LFG, LFM &amp; LFT">
  </a>
    </figure>
    <a title="Rainbow Six : Siege - LFG, LFM &amp; LFT" href="/rainbow-six-siege">
        <h3 class="title">
          Rainbow Six : Siege
        </h3>
  </a></div>



  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 activity-item activity-icon-item"
       data-popularity="17"
       data-name="Overwatch">
    <figure class="">
      <a title="Overwatch - LFG, LFM &amp; LFT. Team up!" href="/overwatch">
          <img src="https://cdn.lfg.pub/images/activities/overwatch/icon.jpg" class="figure-img img-fluid img-rounded" alt="Overwatch - LFG, LFM &amp; LFT. Team up!">
  </a>
    </figure>
    <a title="Overwatch - LFG, LFM &amp; LFT. Team up!" href="/overwatch">
        <h3 class="title">
          Overwatch
        </h3>
  </a></div>
</div>
-->


<!--
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 activity-item activity-icon-item"
     data-popularity="15"
     data-name="Dark Souls 3">
  <figure class="">
    <a title="Dark Souls 3 - LFG, LFM &amp; LFT" href="/dark-souls-3">
        <img src="https://cdn.lfg.pub/images/activities/dark-souls-3/icon.jpg" class="figure-img img-fluid img-rounded" alt="Dark Souls 3 - LFG, LFM &amp; LFT">
</a>
  </figure>
  <a title="Dark Souls 3 - LFG, LFM &amp; LFT" href="/dark-souls-3">
      <h3 class="title">
        Dark Souls 3
      </h3>
</a></div>



<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 activity-item activity-icon-item"
     data-popularity="6"
     data-name="Mass Effect: Andromeda">
  <figure class="">
    <a title="Mass Effect: Andromeda - LFG, LFM &amp; LFT" href="/mass-effect-andromeda">
        <img src="https://cdn.lfg.pub/images/activities/mass-effect-andromeda/icon.jpg" class="figure-img img-fluid img-rounded" alt="Mass Effect: Andromeda - LFG, LFM &amp; LFT">
</a>
  </figure>
  <a title="Mass Effect: Andromeda - LFG, LFM &amp; LFT" href="/mass-effect-andromeda">
      <h3 class="title">
        Mass Effect: Andromeda
      </h3>
</a> -->
</div>
