<div class="container">


  <div *ngIf="(model.login_status)">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">

            <div class="panel-body">
              <div class="row">

                <div class=" col-md-8 col-lg-16 ">


                <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Team Name : </td>
                        <input type="text" [(ngModel)]="model.teamName">
                      </tr>
                      <tr>
                       <td>Slecting games : </td>
                       <td>
                           <li *ngFor = "let gameitem of gameitems; let in=index">
                             {{gameitem}}

                           <input  name="game" type="radio" (change)="onClickedGame(gameitem, $event)">
                         </li>
                       </td>
                     </tr>
                     <tr>
                      <td>Platform : </td>
                      <td>
                          <li *ngFor = "let platform of platforms; let in=index">
                            {{platform}}
                          <input  name="platform" type="radio" (change)="onClickedplatform(platform, $event)">
                        </li>
                      </td>
                    </tr>

                      <tr>
                        <td>Team Type : </td>
                        <td>
                          <li *ngFor = "let playstyle of play_styles; let in=index">
                            {{playstyle}}
                          <input  name="playstyle" type="radio" (change)="onClickedPlayStyle(playstyle, $event)">
                        </li>
                        </td>
                      </tr>
                      <tr>
                        <td>Start time : </td>
                        <td>
                            <input type="time" [(ngModel)]="model.time">
                        </td>
                      </tr>
                      <!--<tr>
                        <td>match: </td>
                        <td>
                            <input type="text" [(ngModel)]="model.match">
                        </td>
                      </tr>-->
                      <tr>
                        <td>description : </td>
                        <input type="text" [(ngModel)]="model.description">
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                  <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a> -->
                      <button  data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-warning" (click)="RequestLFG()"><i class="glyphicon glyphicon-edit"></i> Request</button>
                      <button data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-danger" (click)="canecelEditProfile()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!--   <div *ngIf="model.bShowProfile"> -->
  </div>
